@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-7">ATH Bike Rental System</h2>
    <hr />
    <h5 class ="display-7">
        Witaj w wypożyczalni rowerowej!
        Sprzedajemy rowery. Jesteśmy specjalistycznym salonem rowerowym tej wyjątkowej marki oraz jednym z rodziny czterech sklepów rowerowych GOODSPORT. 
        Posiadamy w swojej ofercie pełną kolekcję rowerów Trek oraz ubrań i akcesoriów rowerowych Bontrager. Znajdą Państwo u nas rowery górskie, szosowe oraz elektryczne. 
        Dbamy o zadowolenie naszych klientów bez względu na to czy kochają ENDURO, EBIKE, XC, SZOSĘ czy TURYSTYKĘ ROWEROWĄ.
    </h5>
    <hr />
    <img src="https://erharowery.pl/wp-content/uploads/2021/03/Rower-dzieciecy-Romet-Tom-16-niebieski-scaled-scaled.jpg" alt="Pasja informatyki" width="300px">
    <img src="https://www.cyclo-centrum.pl/wp-content/uploads/2021/04/marlin7-trek-rower.jpg" alt="Pasja informatyki" width="300px">
    <img src="https://energy-bike.pl/wp-content/uploads/2019/03/57F4EC13-8BFD-4D8E-ACDA-1521EC3ACD9A.jpeg" alt="Pasja informatyki" width="300px">
    <img src="https://thumbs.img-sprzedajemy.pl/1000x901c/26/45/08/gil-skladak-z-prl-ozorkow-487236094.jpg" alt="Pasja informatyki" width="300px">
</div>
